{% extends "base.html" %}

{% load static %}
{% load bootstrap_filters %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}

    <style>
        main {
                min-height: 100vh;
            }

        .ctn {
            max-width: 900px;
            min-width: 100%;
            margin: 25px auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 16px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }

        a {
            color: #28a745;
        }
        </style>

{% endblock css %}

{% block content %}
{{ block.super }}

    <main>

        <!-- Change sensor item's data -->
        <div class="modal fade" tabindex="-1" id="updateSensorItem">
            <div class="modal-dialog">
                <div class="modal-content">

                    <form method="POST" action="#" id="updateSensorItemForm">
                        {% csrf_token %}

                        <div class="modal-header">
                            <h5 class="modal-title">Update the Sensor Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">{{ sensorItemUpdateForm|crispy }}</div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <section class="py-5">
            <div class="container text-left">

                <!-- Bootstrap alerts -->
                {% if messages %}
                    {% for message in messages %}
                    
                        <div class="alert alert-{{ message.tags|bootstrap_alert_tag }}" role="alert">
                            {{ message }}
                        </div>

                    {% endfor %}
                {% endif %}

                <div class="container ctn">

                    <h1 class="mb-4 fw-bold">Sensor Items</h1>

                    <p class="d-inline-flex gap-1">

                        <!-- Button to show filters -->
                        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="collapseExample">
                            Filters
                        </button>

                    </p>

                    <div class="collapse mb-4" id="filtersCollapse">
                        <div class="card card-body">

                            <!-- Filters list -->
                            <form method="get" action="{% url 'sensor_items' %}">

                                <div class="form-group">

                                    <!-- Sensor name - ASC -->
                                    <div class="form-check form-check-inline my-2">
                                        <input class="form-check-input" type="checkbox" name="filter_sensor_name" value="Register code" id="filter-sensorName"> 
                                        <label class="form-check-label" for="filter-sensorName">Sensor name</label>
                                    </div>

                                    <!-- Filter per sensor -->
                                    {% if sensorsNames %}
                                        <div class="form-check form-check-inline my-2">
                                            <label class="form-check-label" for="filter-sensor">Sensor</label>
                                            <select class="form-select"  name="filter_sensor" id="filter-sensor">
                                                <option value=""></option>
                                                {% for name in sensorsNames.all %}
                                                    <option value="{{name}}">{{name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}

                                    <!-- Filter per Customer -->
                                    <div class="form-check form-check-inline my-2">
                                        <input class="form-text-input" type="input" name="filter_customer" id="filter-customer"> 
                                        <label class="form-check-label" for="filter-customer">Customer</label>
                                    </div>

                                    <!-- Filter per is_registered -->
                                    <div class="form-check form-check-inline my-2">
                                        <label class="form-check-label" for="filter-is_registered">Is registered</label>
                                        <select class="form-select" name="is_registered" id="filter-is_registered">
                                            <option value="">All</option>
                                            <option value="true" {% if request.GET.is_registered == "true" %}selected{% endif %}>Registered</option>
                                            <option value="false" {% if request.GET.is_registered == "false" %}selected{% endif %}>Not Registered</option>
                                        </select>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-success mt-2">Search</button>

                            </form>

                        </div>
                    </div>

                    <!-- Show every sensor item -->
                    {% if sensorItems %}

                        {% if is_paginated %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">

                                    {% if page_obj.number > 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1{% if query_string %}&{{ query_string }}{% endif %}">First</a>
                                        </li>
                                    {% endif %}

                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">Previous</a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ page_obj.number }}</a>
                                    </li>

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">Next</a>
                                        </li>
                                    {% endif %}

                                    {% if page_obj.number < page_obj.paginator.num_pages %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if query_string %}&{{ query_string }}{% endif %}">Last</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </nav>
                        {% endif %}

                        <table class="table">

                            <thead>
                                <th scope="col">Registration Code</th>
                                <th scope="col">Sensor</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Is registered</th>
                                <th scope="col">Delete</th>
                            </thead>

                            <tbody>
                                {% for sensorItem in sensorItems.all %}
                                    <tr class="align-middle">

                                        {% if request.user.staff.is_sales %}
                                            <td>
                                                <a href="#" style="color: #000000">
                                                    <p 
                                                        class="m-0" 
                                                        onclick="changeFormAction('{{ sensorItem.pk }}', '{{ sensorItem.get_registration_code }}', '{{ sensorItem.sensor.pk }}')" 
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#updateSensorItem">
                                                        {{ sensorItem.get_registration_code }}
                                                    </p>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>{{ sensorItem.get_registration_code }}</td>
                                        {% endif %}

                                        <td>{{ sensorItem.sensor.name }}</td>

                                        <td>{{ sensorItem.order.customer.user.username }}</td>

                                        <td>{{ sensorItem.is_registered }}</td>

                                        <td>
                                            {% if not sensorItem.is_bought %}
                                                <form action="{% url 'sensor_items_delete' sensorItem.pk %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" style="border:none; background:none; padding:0;">
                                                        <img src="{% static 'images/svg/close-circol.svg' %}" alt="Delete icon to eliminate a sensor item"  width="22" height="22" />
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    {% else %}
                        <p>No sensor items available</p>
                    {% endif %}

                    {% if request.user.staff and request.user.staff.is_technical %}
                        <div class="d-flex justify-content-start" style="margin-top: 2em;">
                            <form method="get" action="{% url 'sensor_items_add' %}">
                                <button type="submit" class="btn btn-success me-2">Add a new sensor item</button>                            
                            </form>
                        </div>
                    {% endif %}

                </div>                
            </div>
        <section>
    </main>
{% endblock content %}


{% block js %}
{{block.super}}

<script>

    function changeFormAction(id, code, sensor) {
        document.getElementById("updateSensorItemForm").action=(id ?? '') + "/update"; 
        document.getElementById("id_registration_code").value = code
        document.getElementById("id_sensor").value = sensor
    }

</script>
{% endblock js %}