{% extends "base.html" %}

{% load static %}
{% load bootstrap_filters %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}

    <style>
        main {
                min-height: 100vh;
            }

        .ctn {
            max-width: 900px;
            min-width: 100%;
            margin: 25px auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 16px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }

        a {
            color: #28a745;
        }
        </style>

{% endblock css %}

{% block content %}
{{ block.super }}

    <main>

        <!-- Change sensor item's data -->
        <div class="modal fade" tabindex="-1" id="updateSensorItem">
            <div class="modal-dialog">
                <div class="modal-content">

                    <form method="POST" action="#" id="updateSensorItemForm">
                        {% csrf_token %}

                        <div class="modal-header">
                            <h5 class="modal-title">Update the Sensor Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">{{ sensorItemUpdateForm|crispy }}</div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <section class="py-5">
            <div class="container text-left">

                <!-- Bootstrap alerts -->
                {% if messages %}
                    {% for message in messages %}
                    
                        <div class="alert alert-{{ message.tags|bootstrap_alert_tag }}" role="alert">
                            {{ message }}
                        </div>

                    {% endfor %}
                {% endif %}

                <div class="container ctn">

                    <h1 class="mb-4 fw-bold">Sensor Log: {{sensorItem.get_registration_code}}</h1>

                    <h2 class="mb-4 fw-bold">Real-Time Logs</h2>
                    
                    <p id="sensorOffAlert">The sensor is not sending measurements at this time.</p>

                    <table id="realtimeLogsTable" class="table table-striped w-100" style="display: none;">

                        <thead>
                            <th scope="col">Timestap</th>
                            <th scope="col">Type</th>
                            <th scope="col">Value</th>
                        </thead>

                        <tbody id="realtimeLogsTable-body"></tbody>
                        
                    </table>

                    <hr class="hr" style="margin: 2em 0px;"/>

                    <!-- Show every sensor log -->
                    {% if sensorLogs %}

                        {% if is_paginated %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">

                                    {% if page_obj.number > 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1{% if query_string %}&{{ query_string }}{% endif %}">First</a>
                                        </li>
                                    {% endif %}

                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">Previous</a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ page_obj.number }}</a>
                                    </li>

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">Next</a>
                                        </li>
                                    {% endif %}

                                    {% if page_obj.number < page_obj.paginator.num_pages %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if query_string %}&{{ query_string }}{% endif %}">Last</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </nav>
                        {% endif %}

                        <h2 class="mb-4 fw-bold">Latest Logs</h2>

                        <table class="table">

                            <thead>
                                <th scope="col">Timestap</th>
                                <th scope="col">Type</th>
                                <th scope="col">Value</th>
                            </thead>

                            <tbody>

                                {% for sensorLog in sensorLogs.all %}
                                    <tr class="align-middle">

                                        <td>{{sensorLog.date}}</td>

                                        <td>{{sensorLog.type}}</td>

                                        <td>{{sensorLog.value}} {{sensorLog.type.symbol}}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    {% else %}
                        <p>No logs available yet</p>
                    {% endif %}

                </div>                
            </div>
        <section>
    </main>
{% endblock content %}

{% block js %}
{{block.super}}

<script>

    const sensorItemId = {{ sensorItem.pk }};
    const socket = new WebSocket(`ws://${window.location.host}/ws/sensor_logs/${sensorItemId}/`);

    // List of sensors
    const sensorTimeouts = {};

    // Maximum waiting time in milliseconds
    const OFFLINE_TIMEOUT = 25000;

    function updateSensorState(sensorId, typeName, value, unit) {

        const table = document.getElementById("realtimeLogsTable");
        const tbody = document.getElementById("realtimeLogsTable-body")
        const alertMessage = document.getElementById("sensorOffAlert");

        // Hide the message and show the table
        if (alertMessage) alertMessage.style.display = "none";
        if (table) table.style.display = "block";

        const now = new Date().toLocaleString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
            hour: "numeric",
            minute: "2-digit",
            hour12: true
        }).replace("AM", "a.m.").replace("PM", "p.m.");

        // Create a new row
        const newRow = document.createElement("tr");
        newRow.classList.add("align-middle");

        newRow.innerHTML = `
            <td>${now}</td>
            <td>${typeName}</td>
            <td>${value} ${unit}</td>
        `;

        // Insert the new row inside the table
        if (tbody) {
            tbody.insertBefore(newRow, tbody.firstChild);

            // If there are more of 20 rows, remove the last one
            if (tbody.rows.length > 20) {
                tbody.deleteRow(-1);
            }
        }

        const stateSpan = document.getElementById(`state-${sensorId}`);
        if (stateSpan) {
            stateSpan.textContent = "Online";
            stateSpan.classList.remove("text-danger");
            stateSpan.classList.add("text-success");
        }

        // Reset of the timer
        if (sensorTimeouts[sensorId]) {
            clearTimeout(sensorTimeouts[sensorId]);
        }

        // Timeout to declare offline and hide the table
        sensorTimeouts[sensorId] = setTimeout(() => {
            if (stateSpan) {
                stateSpan.textContent = "Offline";
                stateSpan.classList.remove("text-success");
                stateSpan.classList.add("text-danger");
            }

            if (table) table.style.display = "none";
            if (alertMessage) alertMessage.style.display = "block";

        }, OFFLINE_TIMEOUT);
    }

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);

        for (let row of data.values) {
            updateSensorState(data.sensor_id, row.type, row.value, row.unit);
        }
    };

    
</script>

{% endblock js %}